{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Page d'accueil{% endblock %}
{% block contenu %}
{{ parent() }}
<style>

.image{
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}

@media (max-width: 100em) {
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.p{
  font-size: 20%;
  }  
}
</style>

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder"><u>Lutins, gnomes et autres trolls de Sophie</u></h1><br>
                    <img class="image" src="../public/images/logo.jpg" alt="Lutin des mentions légales"><br>
                    <p class="lead fw-normal text-black-50 mb-0">Les lutins, gnomes et autres trolls sont de petites créatures issues de la mythologie nordique principalement.<br>Ils représentent les êtres magiques du petit peuple, caractérisés tantôt merveilleux tantôt maléfiques…et sont le lien entre le monde de la nature et celui des humains. Placés chez vous ils vous protègeront !<br><u>Voici l'histoire de l'entreprise racontée par un lutin:</u> <br>"Je suis Droganir et je vais vous raconter l’histoire de Sophie. Il y a bien longtemps une fillette nommée Sophie pointait le bout de son nez à Saint-Omer dans le Pas-de-Calais où elle passera son enfance. Dès son plus jeune âge, elle était curieuse de découvrir de nouvelles cultures et horizons. C’est principalement à travers les cours d’histoire et de géographie en classe élémentaire mais aussi dans les livres qu’elle a commencé à rêver. Ce n’étaient pas les plages paradisiaques ni le sable fin qui la mettait en joie, mais plutôt les paysages du nord et le folklore s’y rapportant. C’est bien plus tard qu’elle a débuté ses voyages, tout d’abord en Angleterre grâce aux voyages scolaires.
                      Puis, la petite Sophie ayant bien grandi, elle y retournera pour quelques mois. Après avoir travaillé et repris des études supérieures dans le but de partir à nouveau à l’étranger, elle a pris la décision de s’attarder dans deux pays. Sophie a passé un an au Danemark où elle a étudié et vécu, et s’est immergée dans la culture scandinave. Celle-ci est riche en mythes et légendes ancestraux que l’on voit bien représentés au travers des monuments mais aussi des œuvres en tous genres.
                      Après un bref retour aux origines dans le but de planifier un nouveau départ, parce que Sophie avait besoin d’en découvrir plus, c’est donc en Irlande, pays où elle passera quatre ans qu’elle a posé ses valises. Son poste dans le tourisme lui a permis d’être au cœur des traditions celtiques liées de près aux scandinaves puisque les vikings furent très présents sur l’Ile d’émeraude dans le passé. Après avoir étudié et travaillé dans différents domaines d’activité, c’est vers l’artisanat et la création que Sophie s’est tournée.
                      C’est tout naturellement que les créatures mythologiques du petit peuple l’ont attiré. C’est ainsi que prennent vie, lutins, gnomes, trolls, leprechauns entre autres...dans des thèmes divers et variés.
                      Ce qui a été en premier lieu un passe temps, fait maintenant partie de sa vie quotidienne car elle pense lutins, vit lutins et rêve de lutins…"</p></br>
                </div>
                <embed src="../public/images/certif.pdf" type="application/pdf" width="100%" height="600px" />
            </div>
        </header>

      {% for l in liste %}
        <section class="col">
          <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 justify-content-center">
              <div class="col">
                <div class="card">
                  {% if l.photo is not empty %}
                    <img class="image1" src="images/{{l.photo}}" alt= "image du produit" />
                  {% else %}
                    <img class="image1" src="images/produit_sans_image.jpg" alt= {{l.nomProduit}} />
                  {% endif %}
                  <div class="card-body p-4">
                    <div class="text-center">
                      <h5 class="fw-bolder">{{l.nomProduit}}</h5>
                      {{l.prix}}€
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-0 border-top-1 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="index.php?page=produit&id={{l.numero}}">Acheter</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
          </div>               
        </section>            
      {% endfor %}        
                   


        
        <footer class="bg-dark text-center text-white">
          <div class="container p-4">
            <section class="">
              <div class="row">
                <div class="col">

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="index.php?page=home" class="text-black">Accueil du site</a>
                    </li>
                    <li>
                      <a href="index.php?page=mentions" class="text-black">Mentions légales</a>
                    </li>
                    <li>
                      <a href="index.php?page=contact" class="text-black">Contact</a>
                    </li>
                  </ul>
                </div>

              </div>
            </section>
          </div>
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Tous droits réservés: Sophie HENEMAN</div>
        </footer>
{% endblock %}